In [6]:
# 01
score = []
total = 0
for n in range(8):
    jumsu = int(input('성적 입력:'))
    score.append(jumsu)
    total += jumsu
    avg = total/len(score)
print('점수', score)
print('합계', total)
print('평균', avg)

성적 입력:98
성적 입력:98
성적 입력:98
성적 입력:98
성적 입력:98
성적 입력:98
성적 입력:98
성적 입력:98
점수 [98, 98, 98, 98, 98, 98, 98, 98]
합계 784
평균 98.0

In [8]:
# 2
score = [88, 95, 70, 100 ,99]
score[1] = 0
print(score)

[88, 0, 70, 100, 99]

In [10]:
# 3
list = [n for n in range(1, 101) if n % 2 == 0]
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [15]:
# 4
list = []
for n in range(1,11):
    if n % 3 == 0:
        list.append(n*n)
print(list)

[9, 36, 81]

In [30]:
li = [10, 2, 5, 30, 'aaa', 'bbb', 3, 0, 20, 10, '', (1,2), [2,3]]
sum = 0
for n in li:
    if type(n) == int :
        sum += n
    


print('모든 정수의 합계는', sum)

모든 정수의 합계는 80

In [32]:
def test(x):
    x[0] = 99

    
li = [1,2,3]
test(li)
print(li)

[99, 2, 3]