for 문

In [25]:
# 118p
# 형식 1
for n in [10,20,30] :
    print(n)
print('-' * 10)

# 형식 2
for n in '가나다라':
    print(n)
print('-' * 10)

# 형식3
s = '가나다라마'
for n in s :
    print(n)
    
# 형식 4
for n in range(1, 11, 2):
    print(n)
    
# 0 1 2 3 4 5 6 7 8 9 
# 1 3 5 7 9
# 0 2 4 6 8 10
# 10 20 30 40 60 70 8090
# 1 10 100 1000 10000
for i in range(0, 10, 1):
    print(i, end=' ')
print()
for n in range(1, 10, 2):
    print(n, end=' ')
print()
for n in range(0, 11, 2):
    print(n, end=' ')
print()
for n in range(10, 91, 10):
    print(n, end=' ')
print()
for n in range(1,5,1):
    print(10**n, end=' ')
print()

# 정수 2개 입력받아 그 사이의 모든 정수 출력
start = int(input('시잘 숫자 : '))
end = int(input('끝 숫자 :'))

# 1
if start > end :
    temp = start
    start = end
    end = temp

for i in range(start, end + 1):
    print(i, end=' ')
print()

# 2
start = int(input('시잘 숫자 : '))
end = int(input('끝 숫자 :'))
step = 1

if start > end :
    step = -1
    end = end - 1
else :
    end = end + 1

for i in range(start, end, step):
    print(i, end=' ')
print()

10
20
30
----------
가
나
다
라
----------
가
나
다
라
마
1
3
5
7
9
0 1 2 3 4 5 6 7 8 9
1 3 5 7 9
0 2 4 6 8 10
10 20 30 40 50 60 70 80 90
10 100 1000 10000
시잘 숫자 : 77
끝 숫자 :4
4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77
시잘 숫자 : 5
끝 숫자 :4
5 4

In [37]:
# 1+2+3+4+5+6+7+8+9+10
sum = 0
for n in range(1, 11):
    sum = sum + n
print(sum)

# 1~100 중에서 짝수의 합계
for n in range(2, 101, 2):
    sum = sum + n
print(sum)

# 1~100 중에서 3의 배수이거나 5의 배수인 정수들의 합계
for n in range(1, 101):
    if n % 3 == 0 or n % 5 == 0:
        sum = sum + n
print(sum)

# 1부터 정수의 합계를 구한다. 합계가 4000이 넘어가는 순간의 정수는?

55
2605
5023